@font-face {
  font-family: 'Inter';
  src: url('../../fonts/inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../../fonts/lora/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lora Italic';
  src: url('../../fonts/lora/Lora-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../../fonts/inconsolata//Inconsolata-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}