@mixin media-query($breakpoint) {
  @if $breakpoint ==tablet {
    @media screen and (min-width: 48em) {
      @content;
    }
  }

  @else if $breakpoint ==desktop {
    @media screen and (min-width: 90em) {
      @content;
    }
  }

  @else {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  }
}

@mixin theme-light {
  $bg-color: $color-white;
  $text-color: $color-gray;

  @content;
}

@mixin theme-dark {
  $bg-color: $color-black;
  $text-color: $color-white;

  @content;
}