/* --------------------------------- Colors --------------------------------- */
$color-black: #050505;
$color-dark-gray: #1f1f1f;
$color-gray: #2d2d2d;
$color-light-gray: #3a3a3a;
$color-medium-gray: #757575;
$color-lightest-gray: #e9e9e9;
$color-light: #f4f4f4;
$color-white: #ffffff;
$color-purple: #a445ed;
$color-red: #ff5252;

/* ------------------------------- Typography ------------------------------- */
$font-inter: 'Inter', sans-serif;
$font-lora: 'Lora', serif;
$font-lora-italic: 'Lora Italic', serif;
$font-inconsolata: 'Inconsolata', mono;

$fs-heading-l: 64px;
$fs-heading-m: 24px;
$fs-heading-s: 20px;
$fs-body-m: 18px;
$fs-body-s: 14px;

$lh-heading-l: 77px;
$lh-heading-m: 29px;
$lh-heading-s: 24px;
$lh-body-m: 24px;
$lh-body-s: 17px;